@import url(http://fonts.googleapis.com/css?family=Lato);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 11, ../../sass/screen.scss */
body {
  background-color: #EFEDDF;
}

/* line 15, ../../sass/screen.scss */
.activityTypes {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  padding: 4px 15px;
}
/* line 49, ../../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
.activityTypes li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
}
/* line 20, ../../sass/screen.scss */
.activityTypes li {
  background-color: #FFF;
  padding: 8px;
  margin: 3px;
  margin-right: 8px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  width: 135px;
  line-height: 1.5em;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #3F4944;
  cursor: pointer;
}
/* line 36, ../../sass/screen.scss */
.activityTypes li.active {
  background-color: #3F4944;
  color: #FFF;
}

/* line 43, ../../sass/screen.scss */
.panel-success > .panel-heading {
  color: #636365;
  background-color: #E4E3D5;
  border-color: #DDDDDD;
}

/* line 49, ../../sass/screen.scss */
.statistics {
  /* Duration */
  /* Distance */
  /* Calories */
}
/* line 50, ../../sass/screen.scss */
.statistics .fa {
  font-size: 50px;
  text-align: right;
  position: absolute;
  top: 7px;
  right: 27px;
  outline: none;
}
/* line 51, ../../sass/screen.scss */
.statistics a {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
}
/* line 53, ../../sass/screen.scss */
.statistics a.duration i, .statistics .duration h4.list-group-item-heading {
  color: #E48A07;
}
/* line 54, ../../sass/screen.scss */
.statistics a.duration:hover {
  background-color: #E48A07;
}
/* line 55, ../../sass/screen.scss */
.statistics a.duration:hover * {
  color: #FFF;
}
/* line 57, ../../sass/screen.scss */
.statistics a.distance i, .statistics .distance h4.list-group-item-heading {
  color: #3b5998;
}
/* line 58, ../../sass/screen.scss */
.statistics a.distance:hover {
  background-color: #3b5998;
}
/* line 59, ../../sass/screen.scss */
.statistics a.distance:hover * {
  color: #FFF;
}
/* line 61, ../../sass/screen.scss */
.statistics a.calories i, .statistics .calories h4.list-group-item-heading {
  color: #dd4b39;
}
/* line 62, ../../sass/screen.scss */
.statistics a.calories:hover {
  background-color: #dd4b39;
}
/* line 63, ../../sass/screen.scss */
.statistics a.calories:hover * {
  color: #FFF;
}
/* line 66, ../../sass/screen.scss */
.statistics .icon {
  font-size: 36px;
  text-align: right;
  position: absolute;
  top: 7px;
  right: 27px;
  outline: none;
}
/* line 75, ../../sass/screen.scss */
.statistics h4 {
  font-size: 23px;
  line-height: 0.8em;
  font-family: "calluna",serif;
}
/* line 81, ../../sass/screen.scss */
.statistics p {
  font-size: 21px;
  color: #3F4944;
  font-family: "calluna",serif;
}

/* line 88, ../../sass/screen.scss */
.screenshot {
  width: 820px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 10px;
  background: #FFF;
  border: 1px solid #CCC;
  position: relative;
  display: block;
}

/* line 102, ../../sass/screen.scss */
.title {
  color: #3F4944;
}
/* line 104, ../../sass/screen.scss */
.title h1 {
  font-size: 42px;
  font-family: "calluna",serif;
  text-align: center;
}
/* line 110, ../../sass/screen.scss */
.title h2 {
  font-size: 34px;
  font-style: italic;
  font-family: "calluna",serif;
  text-align: center;
}
