<div class="row">
    <div class="col-sm-4"><h3>Sign in</h3>
        <span class="note">(Demo log in - 'x'/'x')</span>
        <div class="alert alert-danger" ng-show="message.length > 0">{{message}}</div>

        <form name="signin" role="form">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" ng-model='user.email' class="form-control" required/>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" ng-model='user.password' class="form-control" required/>
            </div>

            <button ng-click='authenticate(user)' ng-disabled="signin.$invalid" class="btn btn-primary">Sign in</button>
        </form>
    </div>
</div>